h1{
    text-align: center;
    display: block;
    margin: 15px auto;
}

#buscada_string span{
    color: black;
    display: inline-block;
    line-height: 1.27rem;
    vertical-align: top;
    white-space: nowrap;
    position: relative !important;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(153, 153, 153);
    border-image: initial;
    margin: 0px 1px;
    padding: 1px 5px 2px;
    border-radius: 8px;
}

#buscada_string span span{
    padding: 0 0px 0 0;
    border-color: unset;
    border-width: unset;
    border-style: unset;
    border-image: unset;
}

#buscada_string span span:nth-child(3){
    padding: 0 12px 0 0;
    border-color: unset;
    border-width: unset;
    border-style: unset;
    border-image: unset;
}

#buscada_string span div{
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 7px;
    width: 10px !important;
    height: 10px !important;
}

.showPainel{
    /* background-color: #f1f1f1; */
}

.readPainel button{
    margin-top: 10px;
}

.Painels{
    display: grid;
    grid-template-columns: 30% calc(70% - 15px);
    grid-column-gap: 15px;
    max-width: 1200px;
    margin: 0 auto;
}


table{
    width:100%;
}

td{
    text-align: center;
    
}

tr>td{
    border-top: 1px solid #ddd;
}

form span{
    display: block;
}

#clients_box input{
    display: block;
}

#clients_box span{
    display: block;
}

.tags{
    margin-top: 10px;
}

#clients_box .tags input{
    display: inline ;
}

.tags label{
    margin-right: 15px;
}

#tags_box{
    border-top: 1px solid #ddd;
}

#tags_box input{
    display: block;
}

#tags_box span{
    display: block;
}

button{
    cursor: pointer;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 0 5px 1.25rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1.0625rem;
    padding-left: 2rem;
    font-size: 1rem;
    background-color: #008cba;
    border-color: #0079a1;
    color: #fff;
    transition: background-color 300ms ease-out;
    padding-top: 1.0625rem;
    padding-bottom: 1rem;
    border: none;
    font-weight: normal !important;
}

button.alert{
    background-color: #f04124;
    border-color: #ea2f10;
    color: #fff;
}

button.success{
    background-color: #3adb76;
    color: #0a0a0a;
}