.showPainel{
    /* background-color: #f1f1f1; */
}

.Painels{
    display: grid;
    grid-template-columns: 30% calc(70% - 15px);
    grid-column-gap: 15px;
    max-width: 1200px;
    margin: 0 auto;
}

#clients_box span{
    display: block;
}

table{
    width:100%;
}

td{
    text-align: center;
    
}

tr>td{
    border-top: 1px solid #ddd;
}

form span{
    display: block;
}

#clients_box input{
    display: block;
}

.tags{
    margin-top: 10px;
}

#clients_box .tags input{
    display: inline ;
}

.tags label{
    margin-right: 15px;
}

button{
    cursor: pointer;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 0 5px 1.25rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1.0625rem;
    padding-left: 2rem;
    font-size: 1rem;
    background-color: #008cba;
    border-color: #0079a1;
    color: #fff;
    transition: background-color 300ms ease-out;
    padding-top: 1.0625rem;
    padding-bottom: 1rem;
    border: none;
    font-weight: normal !important;
}

button.alert{
    background-color: #f04124;
    border-color: #ea2f10;
    color: #fff;
}

button.success{
    background-color: #3adb76;
    color: #0a0a0a;
}